<form (submit)="handleSubmit($event)">
  <p>
      <label>Prénom</label>
      <input type="text" name="prenom" #ngModelPrenom="ngModel" #inputPrenom [(ngModel)]="contact.prenom" required>
      <span *ngIf="ngModelPrenom.invalid && ngModelPrenom.touched && ngModelPrenom.dirty"> Prénom est obligatoire !!!!! </span>
  </p>
  <p>
      <label>Nom</label>
      <!-- <input type="text" name="nom" [ngModel]="contact.nom" (ngModelChange)="contact.nom = $event.target.value"> -->
      <input type="text" name="nom" [(ngModel)]="contact.nom">
  </p>
  <p>
      <button type="submit">+</button>
  </p>
  <p>
      Vous avez saisi {{contact.prenom}}
  </p>
  <p>
      Vous avez saisi {{inputPrenom.value}}
  </p>
</form>
